<!-- shared-styles.html -->
<dom-module id="card-component-style">
    <template>
        <style>
            .card{
                display: flex;
                width: 100%;
                padding: 40px 50px;
                box-sizing: border-box;
                position: relative;
                @apply(--card-component-card);
            }
            .account{
                display: flex;
                flex-direction: column;
                width: 60%;
                @apply(--card-component-account);
            }
            .amount{
                width: 30%;
                align-items: center;
                flex-direction: column;
                display: flex;
                justify-content: flex-end;
                @apply(--card-component-amount);
            }
            .dropdown-account{
                width: 60%;
                @apply(--card-component-dropdown-account);
            }
            .title,.balance,.state{
                margin: 0;
            }
            .title{
                font-size: 20px;
                @apply(--card-component-title);
            }
            .balance{
                font-size: 25px;
                margin: 10px 0;
                @apply(--card-component-balance);
            }
            .state{
                font-size: 15px;
                color: var(--card-component-card-state-color,#636363);
                display: flex;
                @apply(--card-component-state);
            }
            .state-icon{
                color: #fff;
                background-color: #636363;
                height: 20px;
                width: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                margin-left: 10px;
                border-radius: 50%;
                @apply(--card-component-state-icon);
            }
            
            .carousel{
                width: 100%;
                padding-top: 10px;
                @apply(--card-component-carousel);

            }
            .carousel-cont{
                margin: 0;
                bottom: 0;
                padding: 0;
                display: flex;
                align-items: center;
                min-width: 30%;
                @apply(--card-component-carousel-cont);
            }
            .carousel-cont li{
                list-style: none;
            }
            .carousel-prev,
            .carousel-next{
                width: 20px;
                text-align: center;
                color:#3e75c6;
                @apply(--card-component-carouse-prev-next);
            }
            .carousel-prev{
                visibility: hidden;
            }
            .carousel-cont-img{
                height: 100px;
                min-width: 155px;
                position: relative;
                @apply(--card-component-carousel-cont-img);
            }
            .img{
                position: absolute;
                top:0;
                bottom: 0;
                margin: auto;
                border-radius: 5px;
                width: 140px;
                height: 100px;
                @apply(--card-component-img);
            }
        </style>
    </template>
</dom-module>