<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="card-component-style.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">
<!-- Custom icons-->
<iron-iconset-svg size="24" name="myicons">
<svg><defs>
<g id="chevron-left"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></g>
<g id="chevron-right"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></g>
<g id="expand-more"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></g>
</defs></svg>
</iron-iconset-svg>

<!--
`card-component` lets navigate between different account which have the user
  use:
    <body>
      <card-component></card-component>
    </body>
@demo demo/index.html
-->

<dom-module id="card-component">
    <template>
        <style include="card-component-style"></style>
        <style>
            /**
            *   ### Styling
            *  `<card-component>` provides the following custom properties and mixins
            *   for styling:
            *
            *         Custom property                    |             Description                |     Default
            *  ------------------------------------------|----------------------------------------|-----------------
            *    --card-component-card                   | Mixin applied to card                  |       {}
            *    --card-component-account                | Mixin applied to account               |       {}
            *    --card-component-amount                 | Mixin applied to amount                |       {}
            *    --card-component-dropdown-account       | Mixin applied to dropdown-account      |       {}
            *    --card-component-title                  | Mixin applied to title                 |       {}
            *    --card-component-balance                | Mixin applied to balance               |       {}
            *    --card-component-state                  | Mixin applied to state                 |       {}
            *    --card-component-state-icon             | Mixin applied to  state-icon           |       {}
            *    --card-component-carousel               | Mixin applied to carousel              |       {}
            *    --card-component-carousel-cont          | Mixin applied to carousel-cont         |       {}
            *    --card-component-carousel-cont-img      | Mixin applied  to carousel-cont-img    |       {}
            *    --card-component-img                    | Mixin applied to img                   |       {}
            *    --card-component-carouse-prev-next      | Mixin applied to prev and next buttons |       {}
            *    --card-component-shadow                 | Box shadow of the card                 | 2px 2px 3px #ddd
            *    --card-component-layer-background-color | Background-color to the layer          |      #fff
            *    --card-component-layer-top              | Position Top of the layer              |       30%
            *  ------------------------------------------|----------------------------------------|-------------------
            */
            :host {
                display: block;
                background-color: red;
                position: relative;
            }
            :host:before{
                content: "";
                position: absolute;
                background-color: var(--card-component-layer-background-color, #fff);
                box-shadow: var(--card-component-shadow,2px 2px 3px #ddd);
                bottom: 0;
                left:0;
                right: 0;
                top: var(--card-component-layer-top, 30%);
            }
            paper-dropdown-menu.custom {
                width: 100%;
                --paper-input-container-input:{
                font-size: 25px;
                }
                --paper-input-container-underline: {
                    display: none;
                };
                --paper-input-container-underline-focus: {
                    display: none;
                };
                
                --paper-dropdown-menu-icon:{
                color: #3e75c6;
                }   
            }
        </style>
        <div class="card">
            <div class="account">
                <div class="carousel">
                    <ul class="carousel-cont">
                        <li class="carousel-prev" id="prev" on-click="prev"> 
                            <iron-icon icon="myicons:chevron-left"></iron-icon> 
                        </li>
                        <li class="carousel-cont-img" >
                            <template is="dom-repeat" items="[[data]]" as="image" id="imgRepeater">
                                <img src="[[image.card]]" class="img">
                            </template>
                        </li>
                        <li class="carousel-next" id="next" on-click="next" hidden$=""> 
                            <iron-icon icon="myicons:chevron-right"></iron-icon> 
                        </li>
                    </ul>
                </div>
                <div class="dropdown-account" >
                <paper-dropdown-menu class="custom" >
                    <paper-listbox class="dropdown-content custom" selected="{{selected}}">
                        <template is="dom-repeat" items="[[data]]" as="a">
                            <paper-item >[[a.account]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                </div>
            </div>
            <div class="amount">
                <p class="title"> Saldo Disponible</p>
                <p class="balance">$15,931</p>
                <p class="state">$3,307.29 Salvo buen cobro <span class="state-icon">?</span></p>
            </div>
        </div>
    </template>
    <script>
        Polymer({

            is: 'card-component',

            properties: {
                /** This property is an Array, and store the accounts of user. */
                data:{
                    type: Array,
                },
                /**  
                *   This property is a Number, and it used as flag in the carousel navigation.
                *   @ type Number 
                *   this property can find in prev, next and __selected methods
                */
                controlNavigation:{
                    type: Number,
                    value: 0
                },
                /** This property is a Number, and it used to know what element is selected in paper-dropdown-menu. */
                selected:{
                    type:Number,
                    value:0,
                    observer:"__selected",
                },
                /** 
                *   This property is An Array, and it used to store all of style of each image 
                *   @type[ { left: num % , height: num px, zIndex: num} ]
                *   this property can find in attached  and __selected method 
                *
                */
                imageStyle:{
                    type: Array,
                },
                /** 
                *   This property is An Array, and it used to store the zIndex of each image 
                *   this property can find in attached  and __selected method    
                *   
                */
                zIndexArray:{
                    type: Array,
                }
            },
            ready:function(){
                this.data = [
                    {
                        account: "1111111111111111",
                        card:"http://img-aws.ehowcdn.com/150X100/cme/cme_public_images/www_ehow_com/i.ehow.com/images/a04/k6/mj/draw-spiderman-logo-800x800.jpg"
                    },
                    {
                        account: "2222222222222",
                        card:"http://img.bognorphoto.com/thumb/140x100/a/27/a27377e56d9bab3b177cdcc9a4ff34f9.jpg"
                    },
                    {
                        account: "333333333333",
                        card:"https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTZ82J3j2hK4yDvPty01coJqBbuvaaasloXYzksnaK1D2oLXtlR"
                    },
                    {
                        account: "4444444444444",
                        card:"http://www.catalunyaplants.com/wp-content/uploads/2016/12/como-educar-bien-a-perro-con-comida-150x100.jpg"
                    },
                    {
                        account: "55555555555555",
                        card:"http://t06.deviantart.net/asJuYEOk3nTBVSWQ87p21Hs-cQk=/fit-in/150x150/filters:no_upscale():origin()/pre01/5a09/th/pre/i/2015/078/b/f/batman_perler_bead_logo_by_jensperlercreations-d8mczj1.jpg"
                    },
                    {
                        account: "66666666666",
                        card:"http://bombayy.es/wp-content/uploads/2016/08/Motores-de-busqueda-140x100.png"
                    }]      
            },
            /**
            *   this method is used to create the superposition of each card, 
            *   obtain all the cards of Local DOM, sets a zIndex to each one and store it in zIndexArray property,
            *   also store the height, left and z index in imagesStyle property 
            */
            attached:function(){
                var imageArray = document.getElementsByClassName("img");
                var len = imageArray.length;
                var acum =  len;
                var objectStyle = {};
                var arrayStyle = [];
                var zIndexArray = [];
                for(var i = 0; i< len; i++){
                    imageArray[i].style.zIndex = acum--;
                    var value = (i +(i+1));
                    var left = value +"%";
                    var height = imageArray[i].height - value + "px";
                    imageArray[i].style.left = left;
                    imageArray[i].style.height = height;
                    zIndexArray.push(acum)
                    objectStyle = { height:height, left:left, zIndex: zIndexArray[i]};
                    arrayStyle.push(objectStyle);
                    objectStyle={};
                }
                this.imageStyle = arrayStyle;
                this.zIndexArray = zIndexArray;
            },
            /**
            *   This method is used to handle the carousel navigation,
            *   increases the controlNavigation property  by one  and 
            *   send the index to paper-listbox 
            */
            next:function(){
                var limit = this.data.length -1;
                if( this.controlNavigation < limit ){
                    this.controlNavigation ++
                    this.$$('paper-listbox').selectIndex(this.controlNavigation)
                }
            },
            /**
            *   This method is used to handle the carousel navigation,
            *   decreases the controlNavigation property by one  and 
            *   send the index to paper-listbox 
            */
            prev:function(){
                if(this.controlNavigation>0){
                    this.controlNavigation --
                    this.$$('paper-listbox').selectIndex(this.controlNavigation)
                }
            },
            /**
                *   This method is used to show the change in the carrousel and in the 
                *   paper-dropdown-menu, receive 2 params
                *   @param { newValue } the new value selected of dropdown menu
                *   @param { oldValue } the prev value selected of dropdown menu
                */
            __selected:function(newValue,oldValue){
                console.log(newValue)
                if(this.zIndexArray)
                {
                    var array = this.zIndexArray;
                    var limit = array.length;
                    var acum = limit-1;
                    var imageArray = document.getElementsByClassName("img");
                    this.controlNavigation = newValue;
                    for(var i = newValue; i< limit; i++ ){
                        array[i] = acum --;
                    }
                    if(newValue != 0 ){
                        for(var i = 0; i<newValue; i++){
                            array[i] = i ;
                        }
                    }
                    for(var i=0; i<limit ; i++)
                    {
                        imageArray[i].style.zIndex = array[i];
                        var filter = this.imageStyle.filter( function(item){
                            return item.zIndex == array[i]
                        });
                        imageArray[i].style.left = filter[0].left;
                        imageArray[i].style.height = filter[0].height;
                    }

                    if(this.controlNavigation>0)
                    {
                        this.$.prev.style.visibility = "visible";
                    }
                    else{
                        this.$.prev.style.visibility = "hidden";
                    }
                    if(this.controlNavigation<limit-1){
                        this.$.next.style.visibility = "visible";
                    }
                    else{
                        this.$.next.style.visibility = "hidden";
                    }  
                }
            },
        });
    </script>
</dom-module>
