<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="card-component-style.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">
<!-- Custom icons-->
<iron-iconset-svg size="24" name="myicons">
<svg><defs>
<g id="chevron-left"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></g>
<g id="chevron-right"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></g>
<g id="expand-more"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></g>
</defs></svg>
</iron-iconset-svg>

<!--
`card-component` lets navigate between different account which have the user
  use:
    <body>
      <card-component></card-component>
    </body>
@demo demo/index.html 
-->

<dom-module id="card-component">
  <template>
    <style include="card-component-style"></style>
    <style>
        :host {
          display: block;
          position: relative;
        }
        :host:before{
          content: "";
          position: absolute;
          background-color: white;
          box-shadow: var(--card-component-shadow,2px 2px 3px #ddd);
          bottom: 0;
          left:0;
          right: 0;
          top: var(--card-component-layer, 30%);
        }
      paper-dropdown-menu.custom {
        /* no underline */
          width: 100%;
        --paper-input-container-input:{
          font-size: 25px;
        }
        --paper-input-container-underline: {
            display: none;
          };
          --paper-input-container-underline-focus: {
            display: none;
          };
        
        --paper-dropdown-menu-icon:{
          color: #3e75c6;
        }   
      }
    </style>
    <div class="card">
      <div class="account">
         <div class="carousel">
               <ul class="carousel-cont">
                 <li class="carousel-prev" id="prev" on-click="prev" > 
                    <iron-icon icon="myicons:chevron-left"></iron-icon> 
                  </li>
                 <li class="carousel-img" >
                   <template is="dom-repeat" items="[[imageData]]" as="image" id="imgRepeater" >
                    <img src="[[image]]" class="carouselImg">
                   </template>
                </li>
                 <li class="carousel-next" id="next" on-click="next"> 
                  <iron-icon icon="myicons:chevron-right"></iron-icon> 
                </li>
               </ul>
         </div>
         <div class="dropdown-account" >
           <paper-dropdown-menu class="custom" >
             <paper-listbox class="dropdown-content custom" selected="{{selected}}">
              <template is="dom-repeat" items="[[data]]" as="a">
                <paper-item >[[a.account]]</paper-item>
              </template>
            </paper-listbox>
           </paper-dropdown-menu>
         </div>
      </div>
      <div class="amount">
            <p class="title"> Saldo Disponible</p>
            <p class="balance">$15,931</p>
            <p class="state">$3,307.29 Salvo buen cobro <span>?</span></p>
      </div>
    </div>
  </template>

  <script>
    Polymer({

      is: 'card-component',

      properties: {
        prop1: {
          type: String,
          value: 'card-component',
        },
        /** This property is an Array, and store the accounts of user. */
        data:{
            type: Array,
        },
        /** This property is an Array, and store the cards of user. */
        imageData:{
            type: Array,
        },
        /** This property is a Number, and it used to control the shifting. */
        controlValue:{
          type: Number,
          value: 0
        },
        /** This property is a Number, and it used to know what element is selected in paper-dropdown-menu. */
        selected:{
            type:Number,
            value:0,
        }
      },
      ready:function(){
        this.data = [
            {
                account: "1111111111111111",
                card:"http://www.fantasymundo.com/galeria/imagenes/Cine01/6883_p.jpg"
            },
            {
                account: "2222222222222",
                card:"http://img.bognorphoto.com/thumb/140x100/a/27/a27377e56d9bab3b177cdcc9a4ff34f9.jpg"
            },
            {
                account: "333333333333",
                card:"http://bombayy.es/wp-content/uploads/2016/08/Motores-de-busqueda-140x100.png"
            }
        ]
        var array = [];
        for(var i in this.data){
          array.push(this.data[i].card)
        }
        this.imageData = array;
      },
      attached:function(){
        var imageArray = document.getElementsByClassName("carouselImg");
        var len = imageArray.length;
        var acum =  len;
        for(var i = 0; i< len; i++){
          imageArray[i].style.zIndex = acum--;
          if(i != 0){
            var value = (i +(i+1));
            imageArray[i].style.left = value +"%";
            imageArray[i].style.height = imageArray[i].height - value + "px";
          }
        }
      },
      next:function(){
        var limit = this.imageData.length -1;
        if( this.controlValue < limit ){
          var store = this.imageData[0];
          for(var i = 0; i< limit; i++){
              this.imageData[i] = this.imageData[i+1];
          }
          this.imageData[limit] = store;
          this.controlValue ++
          this.$.imgRepeater.render();
          this.$$('paper-listbox').selectIndex(this.controlValue)
       }
      },
      prev:function(){
        var limit = this.imageData.length -1;
        if(this.controlValue>0){
          var store = this.imageData[limit];
          for(var i = limit; i>=0; i--){
            this.imageData[i] = this.imageData[i-1];
          }
          this.imageData[0] = store;
          this.controlValue --
          this.$.imgRepeater.render();
          this.$$('paper-listbox').selectIndex(this.controlValue)
          console.log(this.$$('paper-listbox')())
        }
      },
      selected:function(){
        console.log("fdkfldkfl")
      }
    

    });
  </script>
</dom-module>
